html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

.showcase {
  border: 1px solid rgb(138, 138, 138);
}

th, td {
  padding: 7px 15px 15px 7px;
  text-align: left;
}

li {
  padding: 7px 0px 0px 7px;
}

@media (min-width: 1024px) {
  .myNavBar {
      padding-left: 250px;
      padding-right: 250px;
  }
}

.cat-image {
  border: 1px solid rgb(50, 36, 22);
  max-height: 450px;
  max-width: 80%;
}
